# Python Caches
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Executables
build/
dist/
*.spec
*.exe
Launch Scraper.bat
setup.bat
build.bat
build_goldmine.bat

# Scraped Data & History
goldmine_data/
*.csv
*.txt
!requirements.txt

# OS Files
.DS_Store
Thumbs.db
